@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background: #2796EF;
  color: #fff;
  font-size: 1em;
  padding: 10px 20px;
}

.swal2-cancel {
  border: 0;
border-radius: .25em;
background: #B63C3C;
color: #fff;
font-size: 1em;
padding: 10px 20px;
}
footer{
  bottom: 0;
  position: fixed;
}
.form-group{
  padding: 5px;
  margin: 3px;
}
.form-group label{
  display: block;
  font-weight: 450;
  font-size: 18px;
  margin: 5px;
}
.form-group input{
  padding: 10px 13px;
  font-size: 17px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}
a{
  text-decoration: none;
}
.nav{
  background-color: #4E877E;
  color: #fff;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  position: sticky;
}
.nav p{
  font-size: 15px;
  font-weight: 450;
  padding: 10px 15px;
}
.sidebar{
  width: 300px;
  padding: 10px 12px;
}
.sidebar .brand{
  display: flex;
  align-items: center;
  padding: 10px;
}
.brand img{
  mix-blend-mode: multiply;
  height: 60px;
  width: 80px;
  cursor: pointer;
}
.brand h3{
  font-size: 23px;
  color: #1E6486;
  font-family: cursive;
}
.sidebar input{
  padding: 8px 35px;
  margin: 10px;
  border: 1px solid #C7C7C7;
  background-color: #DADADA;
  color: #fff;
  font-size: 17px;
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  color: #000;
  width: 93%;
}
.sidebar .bi-search{
  left: 32px;
  color: #1C5781;
  top: 148px;
  font-size: 20px;
  position: absolute;
}
.lists a{
  display: block;
  padding: 9px;
  margin: 6px;
  font-size: 17px;
  color: #000;
  font-weight: 450;
}
.lists .active, a:hover {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #333;
}
.lists a .bi{
  font-size: 20px;
}